@media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
  @media (min-width: 768px) {
    body::before {
      content: "MD";
    }
  }
  
  @media (min-width: 992px) {
    body::before {
      content: "LG";
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
      content: "XL";
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
      content: "XXL";
    }
  }
  
  @media (max-width: 575px){
    body::before{
        content:"XS - SI CONSIGLIA UTILIZZO DA PC";
    }
    .space{
      margin-top: 10% !important;
    }
  }

    .side-menu span{
        color: #e60000;
    }

    .menu-icon{
        margin-right: 5px;
    }

    .dashboard-banner{
        height: 5%;
        background-color: #ffb3b3;
    }

    .logout-btn{
        height:27px;
        background-color:#ffd9b3;
    }

    .logout-btn:hover{
        background-color: #ff5050;
        font-weight: bold;
    }

    #field-set{
        border-color: black!important;
    }

    .scrollable-tbody{
        max-height: 320px;
        overflow-y: auto;
        overflow-x: hidden;
        width: auto;
    }
    
    thead{
        position: sticky!important;
        top: 0%;
        background-color: #f4f4f4;
    }

    #colliList{
      max-width: 18%;
    }
    