@media (min-width: 576px) {
    body::before {
      content: "SM";
    }
  }
  
@media (min-width: 768px) {
  body::before {
    content: "MD";
  }
}

@media (min-width: 992px) {
  body::before {
    content: "LG";
  }
}

@media (min-width: 1200px) {
  body::before {
    content: "XL";
  }
}

@media (min-width: 1400px) {
  body::before {
    content: "XXL";
  }
}

@media (max-width: 575px){
  body::before{
      content:"XS - SI CONSIGLIA UTILIZZO DA PC";
  }
  .space{
    margin-top: 10% !important;
  }
}

.side-menu span{
    color: #e60000;
}

.menu-icon{
    margin-right: 5px;
}

.dashboard-banner{
    height: 5%;
    background-color: #ffb3b3;
}

.logout-btn{
    height:27px;
    background-color:#ffd9b3;
}

.logout-btn:hover{
    background-color: #ff5050;
    font-weight: bold;
}

#field-set{
    border-color: black!important;
}

.scrollable-tbody{
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 65%;
}

thead{
    position: sticky!important;
    top: 0%;
    background-color: #f4f4f4;
}

#colliList{
  max-width: 18%;
}
  
.stateLine{
  min-height: 50px;
  background-color: grey;
  width: 0.01em;
  margin-left: 5px;
}

.pallino{
  /* margin-left: 0.04em; */
  height: 8px;
  width: 8px;
  background-color: gray;
  border-radius: 100%;
}

#movementList{
  max-height: 224px;
  overflow-y: scroll;
}

#stateEvent{
  bottom: 0!important;
}

.containerElement{
  margin-left: 0.07em;
}

#triangle{
  width: 0!important;
  height: 0!important;

  border-left: 6px solid transparent!important;
  border-top: 6px solid grey!important;
  border-right: 6px solid transparent!important;

  margin-left: -0.1em;
}

.addImages:hover, .deleteIc:hover{
  opacity: 0.5;
}