body{
    background-color: #f4f4f4 !important;
}

input[type="text"],input[type="number"],input[type="checkbox"],input[type="date"],textarea,select{
    border-style: dashed !important;
    border-color: black !important;
}